%btn {
  padding: $spacing-small;
  border: unset;
  border-radius: $border-radius;
  font-weight: bold;
  font-size: 1.2rem;
  color: $secondary-color;
  outline: none;
  transition: 300ms;
  cursor: pointer;
  &:active {
    transform: scale(.8);
  }
}

.btn--normal {
  @extend %btn;
  background: $secondary-color;
}

.btn--outline {
  @extend %btn;
  border: 4px solid $secondary-color;
  background: transparent;
  &:hover {
    background: rgba($secondary-color, .5);
    color: $grayscale-1;
    transform: rotateZ(360);
    border: 4px solid $secondary-color;
    @include shadow($secondary-color);
  }
}

.btn--text {
  @extend %btn;
  background-color: transparent;
  border: none;
  color: $grayscale-1;
  &:hover {
    color: $secondary-color;
    text-decoration: underline;
  }
}