.buttons-nav {
  width: fit-content;
  display: flex;
  justify-content: center;
}

@media screen and(max-width: $tablet) {
  .buttons-nav {
    width: 180px;
  }
}

@media screen and(max-width: $tablet-small) {
  .buttons-nav {
    width: 100%;
    height: $spacing-large;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    background: $primary-color;
  }
}
