.buttons-nav {
  width: fit-content;
  display: flex;
  justify-content: center;
  img {
    width: 30px;
  }
}

@media screen and(max-width: $tablet) {
  .buttons-nav {
    width: 180px;
  }
}

@media screen and(max-width: $tablet-small) {
  .buttons-nav {
    width: 100%;
    height: $spacing-medium *3;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    background: rgba($primary-color, .7);
  }
}
