%card {
  position: relative;
  max-width: 260px;
  min-width: 130px;
  margin: 0 auto;
  padding: $spacing-small;
  border-radius: $border-radius;
  text-align: center;
  transition: 300ms;
  img {
    width: 100%;
  }
  .object-in-the-Nightsky {
    position: absolute;
    top: $spacing-large;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 1.3rem;
  }
  & h2 {
    margin-top: $spacing-medium;
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: scale(.8);
  }
}

.card--succes {
  @extend %card;
  background-color: rgba($succes-color, 0.5);
  &:hover {
    background-color: rgba($succes-color, 0.8);
    @include shadow($succes-color);
  }
}

.card--warning {
  @extend %card;
  background-color: rgba($warning-color, 0.4);
  &:hover {
    background-color: rgba($warning-color, 0.7);
    @include shadow($warning-color);
  }
}
