.header {
  display: flex;
  justify-content: space-between;
  padding: $spacing-medium 0;
  padding-bottom: $spacing-small/2;
}

@media screen and(max-width: $tablet-small) {
  .header {
    &__nav {
      display: none;
    }
  }
}