.result {
  position: relative;
  padding: $spacing-medium;
  margin-bottom: $spacing-medium;
  border-radius: $border-radius;
  text-align: center;
  background-color: rgba($primary-color, .5);
  @include shadow($grayscale-1);
  &__image-result {
    width: 25rem;
    max-height: 300px;
    margin-bottom: $spacing-large;
    border-radius: $border-radius;
  }
  &__random-character {
    width: 7rem;
  }
  &__text {
    width: 100%;
  }
  &__button {
    position: absolute;
    right: 0;
    bottom: -$spacing-medium *4;
  }
}