// Mixin
@mixin shadow($color) {
  box-shadow: 0 0 8px $color;
}

@mixin title($color) {
  color: $color;
  text-shadow: 0 0 3px $color;
}

// Colors
$primary-color: #7524a8;
$secondary-color: #28A813;
$tertiary-color: #fcd132;

$succes-color: #4CFC7D;
$warning-color: #FF0011;
$alert-color: #fcd132;

$grayscale-1: #fff;
$grayscale-2: #cccccc;
$grayscale-3: #999999;
$grayscale-4: #666666;
$grayscale-5: #333333;
$grayscale-6: #000;

// Spacing
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 50px;

// Border
$border-radius: 10px;

// Z-index
$z-index-watchers: 3;
$z-index-start: 5;
$z-index-btn-start: 13;

// mediaqueries
$desktop-small: 1024px;
$tablet: 768px;
$tablet-small: 574px;
$phone: 480px;

// Box-Model
* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  padding: 0 $spacing-medium*2;
  background-image: url('https://res.cloudinary.com/starlink/image/upload/v1606593367/one%20point%20in%20the%20sky/background-space_o3xxli.jpg');
  background-attachment: fixed;
  overflow: auto;
  animation-duration: 180s;
  animation-name: bg-change;
  animation-iteration-count: infinite;
}

// General styles
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: $grayscale-1;
}

span {
  color: $alert-color;
}

h1,
h2,
h3 {
  font-size: 2.5rem;
  &:hover {
    @include title($grayscale-1);
  }
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

img {
  width: 15rem;
}

@media screen and(max-width: $tablet) {
  html,
  body {
    font-size: 13px;
  }
}

@media screen and(max-width: $phone) {
  #root {
    padding: 0 $spacing-medium;
  }
  html,
  body {
    font-size: 11px;
  }
  h1 {
    font-size: 3.7rem;
  }
}


// @media screen and(max-width: $tablet) {

// }

// @media screen and(max-width: $tablet-small) {

// }

// @media screen and(max-width: $phone) {

// }