* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background-image: url('https://res.cloudinary.com/starlink/image/upload/v1606593367/one%20point%20in%20the%20sky/background-space_o3xxli.jpg');
  background-position: right;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #fff;
}


h1 {
  color: rgb(241, 221, 41);
}

img {
  width: 250px;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
